[submodule "third_party/realsense_ros"]
	path = third_party/realsense_ros
	url = ../../realsenseai/realsense-ros.git
[submodule "third_party/px4_msgs"]
	path = third_party/px4_msgs
	url = ../px4_msgs.git
	branch = ACEPliot
[submodule "third_party/micro_xrce_dds_client"]
	path = third_party/micro_xrce_dds_client
	url = ../../eProsima/Micro-XRCE-DDS-Client.git
[submodule "third_party/micro_xrce_dds_agent"]
	path = third_party/micro_xrce_dds_agent
	url = ../../eProsima/Micro-XRCE-DDS-Agent.git
