<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="flying_hand_leader">

  <mujoco>
    <compiler meshdir="meshes/" balanceinertia="true" discardvisual="false"/>
  </mujoco>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0 -0.0073271 0.027922"
        rpy="0 0 0" />
      <mass
        value="0.13025" />
      <inertia
        ixx="6.958E-05"
        ixy="0"
        ixz="0"
        iyy="5.706E-05"
        iyz="-6.69E-06"
        izz="5.852E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="0 -0.00156867 0.03460183"
        rpy="0 0 0" />
      <mass
        value="0.08581" />
      <inertia
        ixx="3.717E-05"
        ixy="0"
        ixz="0"
        iyy="3.006E-05"
        iyz="9E-07"
        izz="1.849E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0 0 0.0528"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.8973"
      upper="2.8973"
      effort="3.43"
      velocity="4.72" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="-0.0260946 0.13096995 -0.00115046"
        rpy="0 0 0" />
      <mass
        value="0.11524" />
      <inertia
        ixx="0.00023289"
        ixy="6.19E-05"
        ixz="-1.32E-06"
        iyy="6.035E-05"
        iyz="2.87E-06"
        izz="0.00025434" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 0 0.0486100000000001"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.7628"
      upper="1.7628"
      effort="4.903"
      velocity="8.95" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.03950206 0.10829022 -0.00063991"
        rpy="0 0 0" />
      <mass
        value="0.0848" />
      <inertia
        ixx="0.00051159"
        ixy="-2.503E-05"
        ixz="2E-08"
        iyy="2.009E-05"
        iyz="5.6E-07"
        izz="0.00051731" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="-0.0381400000000001 0.1640000018731 -0.000200000000001629"
      rpy="0 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="1.7628"
      effort="3.43"
      velocity="4.72" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="0.01371397 0.00802015 0.02165848"
        rpy="0 0 0" />
      <mass
        value="0.0542" />
      <inertia
        ixx="1.239E-05"
        ixy="3.84E-06"
        ixz="6.81E-06"
        iyy="5.49E-05"
        iyz="-1.18E-06"
        izz="5.212E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0.03582 0.1935 -0.00077"
      rpy="1.5708 0 -3.1416" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.8973"
      upper="2.8973"
      effort="1.39"
      velocity="10.47" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="0.022967 0.0098954 -0.00083577"
        rpy="0 0 0" />
      <mass
        value="0.0036" />
      <inertia
        ixx="3.9E-07"
        ixy="-4.8E-07"
        ixz="-2E-08"
        iyy="1.62E-06"
        iyz="-1E-08"
        izz="1.99E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0 0.02485 0.03"
      rpy="1.5708 0 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.8973"
      upper="2.8973"
      effort="1.471"
      velocity="7.12" />
  </joint>
</robot>
