<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="x500_arm_v1">
  <link
    name="world"/>
  <joint
    name="floating_base_joint"
    type="floating">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="world" />
    <child
      link="base_link" />
  </joint>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.01654364 0.00023483 -0.0394339"
        rpy="0 0 0" />
      <mass
        value="0.78189614" />
      <inertia
        ixx="0.01284604"
        ixy="6.92E-06"
        ixz="3.098E-05"
        iyy="0.01332481"
        iyz="-5.45E-06"
        izz="0.01691372" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_arm_v1/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_arm_v1/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="rotor_1">
    <inertial>
      <origin
        xyz="0 0 0.0062143"
        rpy="0 0 0" />
      <mass
        value="0.012" />
      <inertia
        ixx="4.6E-07"
        ixy="-1.68E-06"
        ixz="0"
        iyy="5.76E-05"
        iyz="0"
        izz="5.789E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_arm_v1/meshes/rotor_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_arm_v1/meshes/rotor_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rotor_joint_1"
    type="continuous">
    <origin
      xyz="0.18164 -0.17688 0.056"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rotor_1" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="0.18"
      velocity="1032.2" />
  </joint>
  <link
    name="rotor_2">
    <inertial>
      <origin
        xyz="0 0 0.0062122"
        rpy="0 0 0" />
      <mass
        value="0.012" />
      <inertia
        ixx="4.6E-07"
        ixy="1.69E-06"
        ixz="0"
        iyy="5.763E-05"
        iyz="0"
        izz="5.793E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_arm_v1/meshes/rotor_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_arm_v1/meshes/rotor_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rotor_joint_2"
    type="continuous">
    <origin
      xyz="0.18164 0.17688 0.056"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rotor_2" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="0.18"
      velocity="1032.2" />
  </joint>
  <link
    name="rotor_3">
    <inertial>
      <origin
        xyz="0 0 0.0062143"
        rpy="0 0 0" />
      <mass
        value="0.012" />
      <inertia
        ixx="4.6E-07"
        ixy="-1.68E-06"
        ixz="0"
        iyy="5.76E-05"
        iyz="0"
        izz="5.789E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_arm_v1/meshes/rotor_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_arm_v1/meshes/rotor_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rotor_joint_3"
    type="continuous">
    <origin
      xyz="-0.17212 0.17688 0.056"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rotor_3" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="0.18"
      velocity="1032.2" />
  </joint>
  <link
    name="rotor_4">
    <inertial>
      <origin
        xyz="0 0 0.00621224"
        rpy="0 0 0" />
      <mass
        value="0.012" />
      <inertia
        ixx="4.6E-07"
        ixy="1.69E-06"
        ixz="0"
        iyy="5.763E-05"
        iyz="0"
        izz="5.793E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_arm_v1/meshes/rotor_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_arm_v1/meshes/rotor_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rotor_joint_4"
    type="continuous">
    <origin
      xyz="-0.17212 -0.17688 0.056"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="rotor_4" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="0.18"
      velocity="1032.2" />
  </joint>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="0 0.0015687 -0.034602"
        rpy="0 0 0" />
      <mass
        value="0.08581" />
      <inertia
        ixx="3.717E-05"
        ixy="0"
        ixz="0"
        iyy="3.006E-05"
        iyz="9E-07"
        izz="1.849E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_arm_v1/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_arm_v1/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0 0 -0.10331"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.8973"
      upper="2.8973"
      effort="3.43"
      velocity="4.72" />
    <dynamics
      damping="0.72763"
      friction="0.068647" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="-0.0260946 -0.13096995 0.00115046"
        rpy="0 0 0" />
      <mass
        value="0.11524" />
      <inertia
        ixx="0.00023289"
        ixy="-6.19E-05"
        ixz="1.32E-06"
        iyy="6.034E-05"
        iyz="2.87E-06"
        izz="0.00025434" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_arm_v1/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_arm_v1/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 0 -0.04861"
      rpy="1.5708 0 3.1416" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.7628"
      upper="1.7628"
      effort="4.9"
      velocity="8.95" />
    <dynamics
      damping="0.62275"
      friction="0.098067" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.03950206 -0.10829022 0.00063991"
        rpy="0 0 0" />
      <mass
        value="0.0848" />
      <inertia
        ixx="0.00051159"
        ixy="2.503E-05"
        ixz="-1E-08"
        iyy="2.009E-05"
        iyz="5.6E-07"
        izz="0.00051731" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_arm_v1/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_arm_v1/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="-0.03814 -0.164 0.0002"
      rpy="0 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="3.5186"
      effort="3.43"
      velocity="4.72" />
    <dynamics
      damping="0.72763"
      friction="0.068647" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="-0.01811211 -5.48E-06 0.03174419"
        rpy="0 0 0" />
      <mass
        value="0.01547" />
      <inertia
        ixx="1.04E-05"
        ixy="0"
        ixz="1.25E-06"
        iyy="1.17E-05"
        iyz="-1E-08"
        izz="3.72E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_arm_v1/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_arm_v1/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0.03582 -0.1935 0.00077"
      rpy="-1.5708 0 -3.1416" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.8973"
      upper="2.8973"
      effort="1.39"
      velocity="10.47" />
    <dynamics
      damping="0.13298"
      friction="0.027851" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="-0.0015718 0.03228008 -0.00038534"
        rpy="0 0 0" />
      <mass
        value="0.00926" />
      <inertia
        ixx="4.4E-06"
        ixy="2.7E-07"
        ixz="0"
        iyy="9.8E-07"
        iyz="-1E-07"
        izz="3.87E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_arm_v1/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://x500_arm_v1/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0.0044 0 0.02243"
      rpy="1.5708 0 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="1.7628"
      effort="1.47"
      velocity="7.13" />
    <dynamics
      damping="0.13298"
      friction="0.027851" />
  </joint>
</robot>
